.alert{
    text-align: center;
}

.header-content{
    text-align: center;
}

.header-content h2{
    margin: 30px;
}

.btn{
    margin-left: 5px;
}

h5{
    text-align: center;
}

#myUL{
    text-align: center;
    list-style-type: none;
}